body {
  font-family: "Rubik", sans-serif;
}

.f-secondary {
  font-family: "Barlow", sans-serif;
}

.jumbotron {
  padding-top: 10rem;
}

.jumbotron a {
  margin-bottom: 4rem;
}

#projects {
  padding-top: 6rem;
}

#projects .card-title {
  margin-bottom: 6rem;
}

#projects .bi {
  position: absolute;
  right: 1.5rem;
}

#contact {
  margin-top: 6rem;
}

.map {
  height: 350px;
}

footer {
  margin-top: 6rem;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .map {
    height: 550px;
  }
}

@media only screen and (max-width: 1024px) {
  /* For desktop: */
  .map {
    margin-top: 2rem;
  }
}
